parameters:
	editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
	editorUrlTitle: '%%relFile%%:%%line%%'
	inferPrivatePropertyTypeFromConstructor: true
	treatPhpDocTypesAsCertain: false
	phpVersion: 70400
	level: 6
	paths:
		- .
	excludePaths:
		- test (?) # optional path, might not exist
		- vendor
		- node_modules
		- marquee-block (?) # optional path, might not exist
		- languages (?) # optional path, might not exist
		- build (?) # optional path, might not exist
		- wp-plugin-check (?) # optional path, might not exist
