/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-storepress-marquee {
	--direction: normal;
	--content-gap: 40px;
	--animation-speed: 9s;
	--overlay-color: #fff;

	display: flex;
	align-items: center;

	/*justify-content: space-around;*/
	gap: var(--content-gap);
	overflow: hidden;

	> .wp-block-storepress-marquee__item {
		flex: 0 0 100%;
		white-space: nowrap;
		animation: marquee-animation-x var(--animation-speed) linear infinite;
		animation-direction: var(--direction);

		@media (prefers-reduced-motion: reduce) {
			animation: none !important;
			white-space: unset;

			&.mirror {
				display: none;
			}
		}
	}

	&.pause-on-hover:hover > .wp-block-storepress-marquee__item {
		animation-play-state: paused;
	}

	&.orientation-y {
		flex-direction: column;

		> .wp-block-storepress-marquee__item {
			white-space: unset;
			animation:
				marquee-animation-y var(--animation-speed) linear
				infinite;
			animation-direction: var(--direction);
			animation-delay: -3s;

			//&.mirror {
			//	visibility: hidden;
			//}
		}
	}

	&.has-overlay {
		position: relative;

		&::before,
		&::after {
			position: absolute;
			content: "";
			width: 10%;
			height: 100%;
			z-index: 1;
		}

		&::before {
			background: linear-gradient(270deg, transparent 0%, var(--overlay-color) 100%);
			left: 0;
		}

		&::after {
			background: linear-gradient(90deg, transparent 0%, var(--overlay-color) 100%);
			right: 0;
		}

		&.orientation-y {

			&::before,
			&::after {
				width: 100%;
				height: 10%;
			}

			&::before {
				background: linear-gradient(0deg, transparent 0%, var(--overlay-color) 100%);
				top: 0;
			}

			&::after {
				background: linear-gradient(180deg, transparent 0%, var(--overlay-color) 100%);
				bottom: 0;
			}
		}
	}
}

@keyframes marquee-animation-x {

	to {
		transform: translateX(calc(-100% - var(--content-gap)));
	}
}

@keyframes marquee-animation-y {

	from {
		transform: translateY(0);
	}

	to {
		transform: translateY(calc(-100% - var(--content-gap)));
	}
}
